// Neutral
$Black:#2A2A2A; 
$grey:#B3B3B3;
$light:#FFFFFF;

// background
// $bg-1:#f2edf0;
// $bg-2:#e6ece5;
// $bg-3:#ecf0f4;

// primary
$primary-green:#acff6c;
$primary-purple:#B595FF;



// alpha

// $alpha-b-65: rgba(0,0,0,.65);
// $alpha-b-85: rgba(0,0,0,.85);
// $alpha-w-40: rgba(255, 187, 187, 0.4);



    
