@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&family=Playfair+Display:ital,wght@1,500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif; /* 英文字擺在前，中文字擺第二，中文字要有引號 */
  font-optical-sizing: auto; /* 光學自動改變粗細 */
  line-height: 1.5;
  overflow-x: hidden;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
}

/* 重置清單 */
ul, ol {
  list-style-type: none; /* 移除項目符號 */
  padding: 0; /* 移除內邊距 */
  margin: 0; /* 移除外邊距 */
}

/* 重置超聯結 */
a {
  display: block; /* 將a預設的inline改為block,才能設定間距及寬高 */
  color: #666;
  text-decoration: none;
}

textarea {
  width: 100%;
}

/* 卷軸樣式 */
::-webkit-scrollbar {
  height: 12px;
  background-color: #2A2A2A;
  border-radius: 99px;
}

::-webkit-scrollbar-button {
  background: #B3B3B3;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: 1px solid #B595FF;
}

::-webkit-scrollbar-track {
  background: #2A2A2A;
  border: 1px solid #B595FF;
}

::-webkit-scrollbar-corner {
  background: #B3B3B3;
}

::-webkit-resizer {
  background: #acff6c;
}

#intro2 .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
/* 重置字體 */
body {
  font-family: "Noto Sans TC";
  /* 系統預設的無襯線字 */
  font-size: 100%;
  line-height: 1.5;
  /* 行高 */
  background-color: #333;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  /* 一般粗細 */
}

/* 重置清單符號 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  /* 滿版 */
  max-width: 100%;
  /*不一定要寫*/
  height: auto;
  /*不一定要寫*/
}

/* 重置連接 */
a {
  display: block;
  /* 將 a 都變成 block(區塊) 才能設定某區塊範圍都有 a 連結可以按*/
  /* 預設是 inline 改成 block。才能設定間距以及寬高 */
  /* 除非有文字需求才會用原本預設 inline */
  text-decoration: none;
  /*底線拿掉*/
  color: white;
  /* 基本超連結顏色 */
}

/* Menu */
.Topbar {
  margin: 0;
  margin-top: 0;
  width: 100%;
  height: 110px;
  display: flex;
  padding: 10px 0px;
  align-items: flex-end;
  justify-content: space-between;
  /* border: 1px solid rgb(207, 202, 202); */
}

.logo {
  width: 240px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.logo:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.logo img {
  width: 40px;
  margin: 8px;
}

.logoText {
  font-family: "Roboto";
  font-size: 28px;
  color: #acff6c;
}

.Topbar-right {
  display: flex;
  padding: 0;
  align-items: center;
  margin-left: 115px;
}

.member {
  display: flex;
  color: #B595FF;
  margin-left: 20px;
  margin: 8px;
  margin-bottom: 5px;
}
.member:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.member a {
  color: #B595FF;
  font-weight: 400;
  /* transform: ; */
}

.navigation {
  width: 277px;
  display: flex;
  align-items: center;
  /* justify-content: ; */
}
.navigation #Group {
  margin: 10px;
  width: 26px;
}
.navigation #menu {
  width: 64px;
  margin-left: 15px;
}

/* 下面指令 */
/* 定義色彩 */
:root {
  --primary-green: #acff6c;
  --Neutral-grey: #B3B3B3;
  --Neutral-Black: #2A2A2A;
  --Neutral-White: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow: hidden;
  background-color: var(--Neutral-Black);
  color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

.nav-button {
  color: var(--primary-green);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2.7px;
}
.nav-button div {
  display: flex;
}

/*HOME  */
/*HOME  */
.home .banner {
  position: relative;
  background-image: url("/images/home_banner.png");
  background-size: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 130vh;
}
.home .banner .logoXL {
  width: 30%;
  margin-top: 130px;
  margin-left: 132px;
  display: flex;
  justify-content: flex-end;
}
.home .banner .logoXL img {
  margin: 0;
  width: 100%;
  animation: glowEffect 5s linear infinite;
}
.home .banner .logoXL .p {
  color: #acff6c;
  font-family: "Inter", serif;
  font-size: 12px;
  letter-spacing: 18px;
  margin-left: 46px;
  margin-top: 20px;
}
.home .banner .logoXL #mark {
  margin-left: auto;
  position: relative;
  width: 80px;
  animation: rotateY 6s ease-in-out infinite, glowEffect 5s linear infinite;
  /* 設定動畫 */
}
@media (max-width: 1920px) {
  .home .banner {
    background-size: cover;
    height: 62.5vh;
  }
}
.home .intro {
  transform-style: preserve-3d;
  perspective: 1000px;
  perspective-origin: center;
  position: relative;
  background-color: #2A2A2A;
  width: 100%;
  overflow-y: visible;
  overflow-x: hidden;
  mix-blend-mode: lighten;
  height: 600vh;
}
.home .intro #intro1 {
  display: flex;
  justify-content: center;
}
.home .intro #intro1 .door {
  position: relative;
  width: 940px;
  height: 100vh;
}
.home .intro #intro1 .door figure {
  animation: glowEffect-W 3s linear infinite;
  z-index: 3;
}
.home .intro #intro1 .door #intro_Q {
  position: absolute;
  top: 0;
  right: 20px;
  width: 355px;
  display: column;
}
.home .intro #intro1 .door #intro_Q p {
  margin-top: 30px;
  margin-left: 21px;
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.18rem;
  line-height: 1.8;
}

#intro2 {
  top: 0;
  /* 保持在 intro1 下面 */
  mix-blend-mode: lighten;
  margin-top: 0;
  isolation: isolate;
  text-align: center;
}
#intro2 .title {
  flex-direction: column;
  position: relative;
  margin-top: 60px;
  left: 0px;
  margin-bottom: 24px;
  z-index: 2;
}
#intro2 .title h2 {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: #acff6c;
}
#intro2 .title h3 {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
  margin-top: 16px;
}
#intro2 .paper1 {
  transform: translateZ(-2.5px) translateY(-3.5vh) scale(1.5);
  z-index: 1;
  position: absolute;
  top: 40vh;
  left: 100px;
  mix-blend-mode: lighten;
}
#intro2 .paper1 img {
  width: 80%;
  overflow-y: visible;
  object-fit: cover;
  opacity: 100%;
}
#intro2 .paper2 {
  transform: translateZ(-0.5px) translateY(-1vh) scale(1.5);
  position: absolute;
  top: 90vh;
  left: 0;
}
#intro2 .paper2 img {
  position: absolute;
  width: 30%;
  z-index: -2;
  overflow-y: visible;
  overflow-x: hidden;
  object-fit: cover;
  opacity: 100%;
}

/* 動畫效果 */
/* glowEffect 5s linear infinite(發光效果放入css) */
@keyframes glowEffect-W {
  0% {
    filter: drop-shadow(0 0 5px #ffffff) drop-shadow(0 0 10px rgba(255, 255, 255, 0.3294117647));
    opacity: 1;
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(172, 255, 108, 0.1490196078)) drop-shadow(0 0 30px rgba(172, 255, 108, 0.0431372549));
    opacity: 0.5;
  }
  100% {
    filter: drop-shadow(0 0 5px #ffffff) drop-shadow(0 0 10px rgba(255, 255, 255, 0.3294117647));
    opacity: 1;
  }
}
@keyframes glowEffect {
  0% {
    filter: drop-shadow(0 0 5px #acff6c) drop-shadow(0 0 10px rgba(172, 255, 108, 0.3294117647));
    opacity: 1;
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5215686275)) drop-shadow(0 0 30px rgba(255, 255, 255, 0.0431372549));
    opacity: 1;
  }
  100% {
    filter: drop-shadow(0 0 5px #acff6c) drop-shadow(0 0 10px rgba(172, 255, 108, 0.3294117647));
    opacity: 1;
  }
}
/* 設定字輪流變色時使用 */
.glowing-text span {
  position: relative;
  animation: glowEffect 1.5s ease-in-out infinite, colorChange 2s ease-in-out infinite;
}

/* animation:  rotateY 6s ease-in-out infinitee(旋轉效果放入css) */
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* 文字變色 */
@keyframes colorChange {
  0% {
    color: #acff6c;
  }
  33% {
    color: #ffffff;
  }
  66% {
    color: #deff67;
  }
  100% {
    color: #acff6c;
  }
}/*# sourceMappingURL=style.css.map */